
  <main role="main" class="container">

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titolo</th>
        <th scope="col">Foro</th>
        <th scope="col">Giudice</th>
        <th scope="col">Ufficio</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let practice of practices | async">
        <th scope="row">{{practice.id}}</th>
        <td>{{practice.titolo}}</td>
        <td>{{practice.sezione}}</td>
        <td>{{practice.giudice}}</td>
        <td>{{practice.ufficioGiudiziario}}</td>
        <td><i class="fa fa-folder-open-o" aria-hidden="true"></i></td>
      </tr>
    </tbody>
  </table>
</main>
