<app-navbar></app-navbar>
<app-navscroller></app-navscroller>

<main role="main" class="container">

<div class="my-3 p-3 bg-white rounded box-shadow">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Nuova pratica</li>
    </ol>
  </nav>

  <form>
    <div class="form-group row">
      <label for="titolo" class="col-sm-2 col-form-label">Titolo</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="titolo" placeholder="">
      </div>
    </div>

    <div class="form-group row">
      <label for="oggetto" class="col-sm-2 col-form-label">Oggetto</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="oggetto" placeholder="">
      </div>
    </div>

    <div class="form-group row">
      <label for="ufficioGiudiziario" class="col-sm-2 col-form-label">Ufficio Giudiziario</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="ufficioGiudiziario" placeholder="">
      </div>
    </div>

    <div class="form-group row">
      <label for="ruolo" class="col-sm-2 col-form-label">Ruolo</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="ruolo" placeholder="">
      </div>
    </div>

    <div class="form-group row">
      <label for="giudice" class="col-sm-2 col-form-label">Giudice</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="giudice" placeholder="">
      </div>
    </div>

    <div class="form-group row">
      <label for="foro" class="col-sm-2 col-form-label">Foro</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="foro" placeholder="">
      </div>
    </div>

    <div class="form-group row">
      <label for="sezione" class="col-sm-2 col-form-label">Sezione</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="sezione" placeholder="">
      </div>
    </div>

    <div class="form-group row">
      <label for="valore" class="col-sm-2 col-form-label">Valore</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="valore" placeholder="€">
      </div>
    </div>

    <div class="form-group row">
      <label for="dataApertura" class="col-sm-2 col-form-label">Data apertura</label>
      <div class="col-sm-2">
        <input type="text"
               class="form-control"
               [minDate]="minDate"
               [maxDate]="maxDate"
               #dp="bsDatepicker"
               bsDatepicker [(bsValue)]="bsValue"
               [bsConfig]="bsConfig"
               id="dataApertura">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>


  </form>
</div>

</main>
